{% extends 'new/base_template.html' %}
{% load static %}
{% block main_content %}
<div class="wrapper">
{% block side %}
      {% include 'new/sidebar_template.html' %}
{% endblock %}
    <section class="content">
            <div class="container-fluid">
                <div class="row g-3 align-items-center">
                      <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Prix</label>
                      </div>
                      <div class="col-auto">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                      </div>
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Prix Total</label>
                      </div>
                      <div class="col-auto">
                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                      </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
{#                        <h1><span class="badge bg-gradient-blue" style="alignment: center">  Faire un paiement  </span></h1>#}
                          <div class="container mt-3">
                              <nav>
                                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#orange-money" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                                        <img src="{% static 'admin/img/gis/Orange-Money-emblem.png' %}" class="img-thumbnail"  alt="orange money" width="200" height="10">
                                    </button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#moov-money" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                                        <img src="{% static 'admin/img/gis/unnamed.jpg' %}" class="img-thumbnail"  alt="moov money" width="200" height="10">
                                    </button>
                                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#coris-money" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                                        <img src="{% static 'admin/img/gis/unnamed.png' %}" class="img-thumbnail"  alt="coris money" width="200" height="10">
                                    </button>
                                      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#visa" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                                        <img src="{% static 'admin/img/gis/images.png' %}" class="img-thumbnail"  alt="visa " width="200" height="10">
                                    </button>
                                  </div>
                              </nav>
                              <div class="tab-content" id="nav-tabContent">
                                  <div class="tab-pane fade show active" id="orange-money" role="tabpanel" aria-labelledby="nav-home-tab">
                                      <div class="row">
                                          <div class="col-sm-3">
                                          </div>
                                          <div class="col-sm-6">
                                              <form >
                                                  <div class="col">
                                                      <div class="col">
                                                        <label for="inputPassword6" class="col-form-label">Numero Orange</label>
                                                      </div>
                                                      <div class="col">
                                                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                                                      </div>
                                                      <div class="col">
                                                        <label for="inputPassword6" class="col-form-label"></label>
                                                      </div>
                                                      <div class="col">
                                                        <input type="submit">
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                          <div class="col-sm-3">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="moov-money" role="tabpanel" aria-labelledby="nav-profile-tab">
                                       <div class="tab-pane fade show active" id="orange-money" role="tabpanel" aria-labelledby="nav-home-tab">
                                      <div class="row">
                                          <div class="col-sm-3">
                                          </div>
                                          <div class="col-sm-6">
                                              <form >
                                                  <div class="col">
                                                      <div class="col">
                                                        <label for="inputPassword6" class="col-form-label">Numero Moov</label>
                                                      </div>
                                                      <div class="col">
                                                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                                                      </div>
                                                      <div class="col">
                                                        <label for="inputPassword6" class="col-form-label"></label>
                                                      </div>
                                                      <div class="col">
                                                        <input type="submit">
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                          <div class="col-sm-3">
                                          </div>
                                      </div>
                                  </div>
                                  </div>
                                  <div class="tab-pane fade" id="coris-money" role="tabpanel" aria-labelledby="nav-contact-tab">
                                       <div class="tab-pane fade show active" id="orange-money" role="tabpanel" aria-labelledby="nav-home-tab">
                                      <div class="row">
                                          <div class="col-sm-3">
                                          </div>
                                          <div class="col-sm-6">
                                              <form >
                                                  <div class="col">
                                                      <div class="col">
                                                        <label for="inputPassword6" class="col-form-label">Numero Coris Money</label>
                                                      </div>
                                                      <div class="col">
                                                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                                                      </div>
                                                      <div class="col">
                                                        <label for="inputPassword6" class="col-form-label"></label>
                                                      </div>
                                                      <div class="col">
                                                        <input type="submit">
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                          <div class="col-sm-3">
                                          </div>
                                      </div>
                                  </div>
                                  </div>
                                  <div class="tab-pane fade" id="visa" role="tabpanel" aria-labelledby="nav-contact-tab">


                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
    </section>
</div>
{% endblock main_content %}
{% block custom_js %}

  {% endblock custom_js %}