{% extends 'new/base_template.html' %}
{% load static %}
{% block main_content %}
<div class="wrapper">
{% block side %}
      {% include 'new/sidebar_template.html' %}
{% endblock %}
    <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <form action="" method="post" id="login-form">
                            {% csrf_token %}
                            <div class="card">
                              <div class="card-body">
                                  <div class="col" style="margin-bottom: 10px">
                                    {{ form.nombre_place }}
                                  </div>
                                  <div class="col" style="margin-bottom: 10px">
                                    {{ form.m_Parking }}
                                  </div>
                                  <div class="col" style="margin-bottom: 10px">
                                    <input type="submit" class="btn btn-primary form-control">
                                  </div>
                              </div>
                            </div>
                        </form>
                        </div>

                  <div class="col-sm-8">
                    <div class="card">
                      <div class="card-body">
                      {% for user_reservation in user_reservations %}
                      {% if user_reservations %}
                                <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
                                    <div class="row" style="background: #0536f3;border-radius: 3px;color: #FFFFFF">
                                        <div class="col"></div>
                                        <div class="col">{{ user_reservation.date_reservation }}</div>
                                        <div class="col">{{ user_reservation.m_Parking.nom }}</div>
                                        <div class="col">{{ user_reservation.nombre_place }}</div>
                                        <div class="col">{{ user_reservation.m_Paiement.montant_payer}} FCFA</div>
                                    </div>
                                </a>



                                 <div class="collapse" id="collapseExample" style="margin-top: 10px">
                                      <div class="card card-body">

                                          <div class="row">
                                           {% for reserv in gestion_reserves %}
                                {% if reserv.qr_image and reserv.reservation_id == user_reservation%}
                                          <div class="col-sm-3">
                                                  <h4 style="text-align: center;font-family: sans-serif">Pace {{ reserv.code }}</h4>
                                                  <img src="{% get_media_prefix %}{{ reserv.qr_image }}" class="rounded" alt="..." style="width: 150px;height: 150px">
                                                   <a class="btn btn-lg btn-info" style="alignment: center" href="{{ reserv.qr_image.url }}" download=""><i class="fa fa-download"></i>Download</a>
                                          </div>
                                    {% endif %}
                                                {% endfor %}
                                              </div>
                                      </div>
                                 </div>
                          {% endif %}
                          {% endfor %}
                      </div>
                    </div>
                  </div>

            </div>
            </div>
    </section>
</div>
{% endblock main_content %}
{% block custom_js %}
                {% for message in messages %}
                    {% if message.tags != info %}
                        <script>
                            Swal.fire({
                              position: 'center',
                              icon: '{{ message.tags }}',
                              title: '{{ message }}',
                              showConfirmButton: false,
                              timer: 3000
                            })
                        </script>
                    {% else %}
                        <script>
                        Swal.fire({
                          title: 'Custom animation with Animate.css',
                          showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                          },
                          hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                          }
                        })
                        </script>
                    {% endif %}
                {% endfor %}
  {% endblock custom_js %}